.logo{
    display: inline-block;
    margin-right: 11%;
}


.nav-item li{  
text-decoration: none;
list-style: none;
margin-left: 10%;
}
li {
    display: inline;
  }

.nav-item {
display: inline-block;
margin-right: 3%;
}
.h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.navigator {
    overflow: hidden;
    color: black;
    background-color: #f3f3f3;
    margin-bottom: 1%;
}

.nav-item a {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.logo a{
    color: #000 !important;
    text-decoration: none;
}
